<div>
  <div class="container" id="city">
    <h2 text-align="center">Banja Luka</h2>
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"> <img src="/assets/img/about-city.jpg" alt="Banja Luka" class="img-fluid"> </h2>
            <p class="card-text" id="text">Na području današnje Banja Luke od davnina su postojale ljudske zajednice
              koje su iza sebe
              ostavili tragove vremena u kome su živjeli. U Banjaluci možete doživjeti duh različitih kultura koje su se
              preplitale na ovom prostoru i posjetiti veliki broj kulturno-istorijskih spomenika kao svjedoka različitih
              epoha i ljudskog stvaralaštva. <br> <br>

              Banja Luka kao kulturni centr Republike Srpske vam nudi mogućnost posjete kulturnim ustanovama kao što su
              Muzej savremene umjetnosti RS, Muzej RS, Kulturni centar Banski dvor, Narodno pozorište RS, Galerije i dr.
              <br>

              U gradu Banjaluci se održavaju brojne manifestacije različitih formi i sardžaja. Veliki broj događaja se
              održava duži niz godina pa samim tim nose epitet tradicionalne.</p>
          </div>
          <div class="card-footer">
            <a href="http://www.banjaluka.rs.ba" target="_blank" class="btn btn-dark btn-sm">Saznaj više</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Servisne informacije za - 25/10/2019</h2>
            <p class="card-text"></p>
            <h5>Električna energija</h5>
            <p>Elektrokrajina – snabdijevanje grada električnom energijom danas je uredno.</p>
            <hr>
            <h5>Voda</h5>
            <p>Vodovod – snabdijevanje grada vodom jutros je uredno, a kvalitet isporučene vode zadovoljava odredbe
              pravilnika o higijenskoj ispravnosti vode za piće.</p>
            <hr>
            <h5>Izmjene u saobraćaju</h5>
            <p>Od 3. maja 2019. godine u 8.00 časova, potpuno je obustavljen saobraćaj u Ulici kralja Aleksandra I
              Karađorđevića, i to na dijelu od „žutih zgrada“ do Banijske ulice, zbog izgradnje nove saobraćajnice.</p>
            <hr>
            <h5>Dežurne službe</h5>
            <p>Policijska uprava Banja Luka – evidentirano je pet krivičnih djela. Javni red i mir nije narušavan.
              Dogodilo se 11 saobraćajnih nezgoda, u kojima je jedno lice lakše povrijeđeno.</p>
            <p>Služba hitne pomoći – pregledano je 98 pacijenata i obavljeno je 20 kućnih posjeta.</p>
            <p>Vatrogasna jedinica – tri intervencije.</p>


          </div>
        </div>
      </div>
    </div>

    <div class="container" id="ad">
    <div class="row">
      <div class="col-12">
        <a href="https://sberbankbl.ba/content/read/nagradna-igra" target="_blank" rel="noopener noreferrer">
          <img class="img-fluid" src="/assets/img/ad.png" alt="ad"> </a>

      </div>
    </div>
  </div>
  </div>

</div>