
<div class="container" id="contact">
		<div class="innerwrap">
		
			<section class="section1 clearfix">
				<div class="textcenter">
					
					<h1>Kontakt</h1>
				</div>
			</section>
		
			<section class="section2 clearfix">
				<div class="col2 column1 first">
                        <div class="mapouter"><div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=bra%C4%87e%20ma%C5%BEar%20i%20majke%20marije%2018%20banja%20luka&t=&z=15&ie=UTF8&iwloc=&output=embed" 
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe><a href="https://www.bitgeeks.net/embed-google-map/">bitgeeks.net</a></div>
                            <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<p>Braće Mažar i majke Marije 18, 78000 Banja Luka</p>
							<p><span class="collig">Telefon :</span> +387 66 976885</p>
							<p><span class="collig">E-mail :</span> bl.events@gmail.com</p>
							<p><span class="collig">Fax :</span> +387 51 976885</p>
						</div>
					</div>
					<div class="sec2contactform">
						<h3 class="sec2frmtitle">Pošaljite nam mail:</h3>
						<form action="">
							<div class="clearfix">
								<input class="col2 first" type="text" placeholder="Ime">
								<input class="col2 last" type="text" placeholder="Prezime">
							</div>
							<div class="clearfix">
								<input  class="col2 first" type="Email" placeholder="E-mail">
								<input class="col2 last" type="text" placeholder="Telefon">
							</div>
							<div class="clearfix">
								<textarea name="textarea" id="" cols="30" rows="7">Poruka...</textarea>
							</div>
							<div class="clearfix"><input type="submit" value="Pošaji"></div>
						</form>
					</div>

				</div>
			</section>
		
		</div>
	</div>