<body class="text-center">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#"></a>
                <a class="nav-link" href="#"></a>
                <a class="nav-link" href="#"></a>
              </nav>
            </div>
          </header>
    
          <main role="main" class="inner cover">
            <h1 class="cover-heading"><img src="/assets/img/logo3.png" alt="logo3" class="img-fluid"> </h1>
            <p class="lead"></p>
            <p class="lead">
              <a routerLink="/user" class="btn btn-lg btn-dark" id="welcome">Dobro došli!</a>
            </p>
          </main>
    
          <footer class="mastfoot mt-auto">
            <div class="inner">
              
            </div>
          </footer>
        </div>

    
</body>